:root {
    .home-estimation-page {
        --this-gap: 25px;

        width: 100%;
        display: grid;
        gap: var(--this-gap);
        grid-template-columns: 3fr clamp(250px, 25%, 350px);

        @media (max-width: 750px) {
            grid-template-columns: 1fr;
        }

        &__main {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--this-gap);
        }

        &__aside {
            width: 100%;
        }
    }
}
