#root {
    .MuiButtonBase-root {
        background-color: #5415E8;
        color: #FFFFFF;
        border-radius: 20px;

        &.white {
            background-color: #F2F2F2;
            color: #000000;
        }

        &.square {
            border-radius: 10px;
        }
    }
}