#root {
    .MuiBottomNavigation-root {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 45px;
        border-radius: 14px;
        padding: 5.5px;
        background-color: #F2F2F2;

        .MuiButtonBase-root {
            max-width: 100%;
            background: transparent;
            color: #000000;
            display: flex;
            gap: 7.5px;
            flex-direction: row;
            justify-content: center;

            &.Mui-selected {
                color: #ffffff;

                &.first {
                    background: linear-gradient(to right, #5415E8, #2F0C82);
                }

                &.second {
                    background: linear-gradient(to right, #8E14D9, #4B0B73);

                    svg path {
                        fill: #ffffff;
                    }
                }

                &.third {
                    background: linear-gradient(to right, #21DA14, #12740B);
                }

                &.first, &.third {
                    svg path {
                        stroke: #ffffff;
                    }
                }
            }

            &.first, &.third {
                svg path {
                    stroke: #000000;
                }
            }

            &.second {
                svg path {
                    fill: #000000;
                }
            }

            svg {
                width: 14px;
                height: 14px;
            }

            .MuiBottomNavigationAction-label {
                @media (max-width: 430px ) {
                    display: none;
                }
            }
        }
    }
}