:root {
    .preview-page {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        &__ctx {
            width: 100%;
            max-width: 800px;
            padding: 0 16px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .block-body {
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__ctx {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 16px;
                    @media (max-width: 600px) {
                        grid-template-columns: 1fr;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }

                    .select-warehouse {
                        border: 1px solid #F2F2F2;
                        border-radius: 10px;
                        padding: 10px;
                        color: black;
                        outline: none;
                        @media (max-width: 480px) {
                            padding: 8px;
                            font-size: 13px;
                        }

                        &:invalid {
                            color: #999; 
                        }
                    }
                }
            }
        }
    }
}
