:root {
  .risk-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

    p {
      font-weight: bold;
    }

    .level {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .risk-container {
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        background-color: #fff5e6;
        border: 1px solid #ffcc99;
        display: flex;
        align-items: start;
        justify-content: start;
      }

      .risk-badge {
        background-color: #ff7a00;
        color: white;
        font-weight: bold;
        font-size: 14px;
        padding: 6px 16px;
        border-radius: 6px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }

    .probability {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .probability-container {
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        background-color: #d0dcff;
        border: 1px solid #5a83ff;
        display: flex;
        align-items: start;
        justify-content: start;
      }

      .probability-badge {
        font-size: 32px;
        padding: 6px 6px;
        color: #5a83ff;
        text-transform: uppercase;
      }
    }

    .horizont {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .horizont-container {
        width: 100%;
        padding: 4px;
        border-radius: 12px;
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
        display: flex;
        align-items: start;
        justify-content: start;
      }

      .horizont-badge {
        font-size: 15px;
        padding: 6px;
        color: #7a7676;
      }
    }

    .critical-time-first {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .critical-container1 {
        width: 100%;
        padding: 4px;
        border-radius: 12px;
        background-color: #ffface;
        border: 1px solid #e8e8e8;
        display: flex;
        align-items: start;
        justify-content: start;
      }

      .critical-badge1 {
        font-size: 15px;
        padding: 6px;
        color: #7a7676;
      }
    }

    .critical-time-second {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .critical-container2 {
        width: 100%;
        padding: 4px;
        border-radius: 12px;
        background-color: #baf4c1;
        border: 1px solid #e8e8e8;
        display: flex;
        align-items: start;
        justify-content: start;
      }

      .critical-badge2 {
        font-size: 15px;
        padding: 17px;
        color: #7a7676;

        .dots li::marker {
          color: #4dca5b;
        }
      }
    }
  }
}
