# Переменные окружения
.env
.env.local
.env.*.local
api/.env
bot/.env
ml-service/.env

# SSL сертификаты
nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt

# Логи
nginx/logs/*
!nginx/logs/.gitkeep

# Кеш
nginx/cache/*
!nginx/cache/.gitkeep

# Certbot
nginx/certbot/*
!nginx/certbot/.gitkeep
