.vscode/
api/.vscode/
bot/.vscode/
client/.vscode/
**/.vscode/

api/node_modules/
bot/node_modules/
client/node_modules/
**/node_modules/

api/dist/
bot/dist/
client/dist/
**/dist/

api/ssl/
bot/ssl/
client/ssl/
nginx/ssl/
**/ssl/

bot/.env
api/.env
client/.env
.env
**/.env

**/*.crt
**/*.key
**/*.pem

# Logs
**/logs/
api/logs/
bot/logs/

# Documentation
**/*.md
!README.md

