:root {
    .not-found-page {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &__ctx {
            .nfp-headline {
                font-weight: 900;
                margin-bottom: 10px;
            }

            .nfp-desc {
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
    }
}