:root {
<<<<<<< HEAD
    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__ctx {
            width: 100%;
        }
    }
}
=======
    .home-layout__nav {
        width: 100%;

        .nav-bar {
            width: 100%;
        }
    }
}
>>>>>>> 0c84985d4cdfb77064e7711bfdd13642b89636e5
