:root {
    .home-layout {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        overflow: auto;

        &__ctx {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}
