:root {
    .home-layout {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;

        &__ctx {
            width: 100%;
        }
    }
}
