:root {
    .ui-block {
        --bg-block-color: #5415E8;
        --bg-block-ctx-color: #FFFFFF;
        --max-pad-block: 5px;

        background-color: var(--bg-block-color);
        border: 1px solid #E1E1E1;
        border-radius: 16px;
        width: 100%;
        box-shadow: 5px 5px 5px #00000040;
        overflow: hidden;

        &.left {
            padding: 1px;
            padding-left: var(--max-pad-block);
        }

        &.top {
            padding: 1px;
            padding-top: var(--max-pad-block);
        }

        &.electric {
            --bg-block-color: #5415E8;
        }

        &.orange {
            --bg-block-color: #D89314;
        }

        &.violet {
            --bg-block-color: #8E14D9;
        }

        &.green {
            --bg-block-color: #20D213;
        }

        &.red {
            --bg-block-color: #D8141A;
        }

        &.empty {
            --bg-block-color: #cdcdcd;
        }

        &__ctx {
            --ctx-padding: 10px;

            width: 100%;
            background: var(--bg-block-ctx-color);
            border-radius: 16px;
            overflow: hidden;

            .block-head {
                display: flex;
                justify-content: left;
                align-items: center;
                gap: var(--ctx-padding);
                padding: var(--ctx-padding);
                min-height: 60px;
                background: linear-gradient(
                    to right,
                    color-mix(
                        in srgb,
                        var(--bg-block-color) 20%,
                        #FFFFFF 80%
                    ) 0%,
                    var(--bg-block-ctx-color) 40%
                );
                border-bottom: 1px solid #ccc;

                .block-head__icon {
                    width: 40px;
                    height: 40px;
                    background-color: var(--bg-block-color);
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 5px var(--bg-block-color);
                }
            }

            .block-body {
                width: 100%;
                padding: var(--ctx-padding);
            }
        }
    }
}
