:root {
    .home-history-page {
        width: 100%;

        &__ctx {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: center;
            align-items: center;
        }
    }
}