$maxViewportWidth: 1400;
$minViewportWidth: 320;
$maxBoxWidth: 800;

$baseRemDelta: 16;

$defaultMaxFont: 48;
$defaultMinFont: 16;

$baseAnimeTime: 1.2s;
$baseAnimeFunc: ease-in-out;
$baseAnimeDeley: 0;
$baseAnimeType: forwards;

$baseFlexDirection: row;
$baseJContent: center;
$bseAItems: center;

$baseLineCount: 3;
$baseLineOrient: vertical;

$baseCAProps: box-shadow;
$baseCAX: 0;
$baseCAY: 0;
$baseCABlur: 11;
$baseCAColor: #909090;

$baseLimitPageWidth: 380;
$baseMinPagePi: 10;
$basePagePi: 4.9702;
$baseMaxPagePi: 30;

$baseMinPageMb: 10;
$basePageMb: 3;
$baseMaxPageMb: 30;

$baseMinHeadPb: 16;
$baseHeadPb: 3.75;
$baseMaxHeadPb: 28;

$psfMediaMh: 512;

$squaresCount: 3;
$delayStep: 0.1;

$navBtnWLimit: 690;
$logoWLimit: 330;
