:root {
    .home-layout__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        border-bottom: 1px solid #80808080;

        .header-logo {
            display: flex;
            gap: clamp(5px, 5vw, 10px);
            flex-direction: row;
            justify-content: left;
            align-items: center;

            &__img {
                @media (max-width: 430px ) {
                    scale: 0.9;
                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;

                @media (max-width: 430px ) {
                    scale: 0.9;
                }
                
                @media (max-width: 380px ) {
                    display: none;
                }
            }
        }
    }
}
