@import url("./fonts/index.css");

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Interfonts', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    touch-action: none;
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    width: 100vw;
    height: 100vh;
}

#root {
    opacity: 0;
    display: none;
}

#preloader {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 2s ease-in-out forwards;
}

#preloader .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./img/preload-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#preloader .headline {
    text-align: center;
    user-select: none;
    font-size: 2.5rem;
}
