:root {
  .block-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;

    &__ctx {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 26px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (max-width: 480px) {
          gap: 4px;
        }
      }
    }
  }
}
